/* SF Pro Display Font */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Display/v3/sf-pro-display_bold.woff2') format('woff2');
}

/* SF Pro Text Font */
@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold.woff2') format('woff2');
}

/* SF Pro Icons */
@font-face {
    font-family: 'SF Pro Icons';
    font-style: normal;
    font-weight: 400;
    src: url('https://www.apple.com/wss/fonts/SF-Pro-Icons/v3/SF-Pro-Icons.woff2') format('woff2');
}

/* Apply fonts globally */
body, html {
    font-family: 'SF Pro Display', 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/* Icon font class */
.icon, [class*="icon-"], .sf-icon {
    font-family: 'SF Pro Icons', -apple-system, BlinkMacSystemFont;
}
