/* SF Pro Fonts - Downloaded from Lipagas */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: url("/wss/fonts/SF-Pro-Display/v3/sf-pro-display_semibold.woff2") format("woff2");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url("/wss/fonts/SF-Pro-Display/v3/sf-pro-display_bold.woff2") format("woff2");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url("/wss/fonts/SF-Pro-Display/v3/sf-pro-display_semibold.woff2") format("woff2");
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    src: url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    src: url("/wss/fonts/SF-Pro-Text/v3/sf-pro-text_semibold.woff2") format("woff2");
}

@font-face {
    font-family: 'SF Pro Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/wss/fonts/SF-Pro-Icons/v3/sf-pro-icons_regular.woff") format("woff");
}